<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
    <div class="form-group">
        <label for="title">Título</label>
        <input type="text" placeholder="Título" formControlName="title" required/>
        <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="title.errors?.['required']">
                O título deve ter no mínimo 3 caracteres.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Descrição:</label>
        <textarea
          formControlName="description"
          placeholder="O que aconteceu lá?"
        ></textarea>
        <div
          *ngIf="description.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="description.errors?.['required']">A descrição é obrigatória.</p>
        </div>
      </div>
    <div class="form-group">
        <label for="image">Imagem</label>
        <input type="file" (change)="onFileSelected($event)">
    </div> 
    <button type="submit" value="{{btnText}}">Compartilhar</button>     
</form>