/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    color: #444;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0,4s;
}

a:hover{
    color: #dec129;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form input,
.form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #777;
    font-size: 0.8em;
}

form button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dec129;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: .9em;
}

input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: .4s;
}

input[type="submit"]:hover {
    background-color: #DEC129;
    border-color: #DEC129;
    background-color: transparent;
}

.validation-error p {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
    border-left: 3px solid red;
    padding-left: 0.2em;
}

